$width:1000px;
$border:1px solid;
$margin:auto;
$position1:relative;
$position: absolute;
$font-size:12px;
$fontFam:Times New Roman;
$mainColor:white;
$display:inline-block;


body{
margin:auto;
}
.main{
	width:$width;
	height:$width;
	margin:$margin;
	position:$position;
	background:$mainColor
	
}
.logo{
width:$width - 800px;
margin:$margin 40px;
}
.search
{ 
height: $width - 968px;
position:$position;
left: $width + 36px; 
    top: 83px;
}
.cart{
left: $width + 189px;
    position: absolute;
    top: $width - 942px;
}
.nav1{ background: none repeat scroll 0 0 black;
    color: white;
    display: $display;
    height: 65px;
    left: 40px;
    position: absolute;
    top: 122px;
    width: 1255px;}
.nav1 ul
	{list-style:none;
	margin:-18px -29px 0px 0px}
.nav1 ul li{
float:left;
padding:24px 212px 0px 0px}
.nav1 ul li a{
text-decoration:none;
color: white;
width:$width - 995px;
}
.nav1 ul li :hover{
width:90px;
height:40px;
color:black;}
.carsol{
border: $border;
    height: $width - 526px;
    left: $width - 967px;
    position: absolute;
    top: $width - 807px;
    width: $width + 266px;

}


.nav2{  background: none repeat scroll 0 0  	#DCDCDC;
    display: inline-block;
    height: $width - 562px;
    left: 40px;
    position: absolute;
    top: 198px;
    width: 121px;}
.nav2 ul
{list-style:none;
margin:-18px -29px 0px 0px}
.nav2 ul li{

padding:24px 212px 0px 0px}
.nav2 ul li a{
text-decoration:none;

width:$width - 995px;
}
.nav2 ul li :hover{
width:90px;
height:40px;
}
